In [1]:
import joblib

smd = joblib.load("recommender/movie_dict.pkl")
smd

,genres,id,overview,title,vote_average,vote_count,cast,crew,keywords,director
0,"[Animation, Comedy, Family]",862,[led by woody andys toy live happily in his ro...,Toy Story,7.7,5415.0,"[tom_hanks, tim_allen, don_rickles, jim_varney...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousy, toy, boy, friendship, friend, rival...","[johnlasseter, johnlasseter, johnlasseter]"
1,"[Adventure, Fantasy, Family]",8844,[when sibling judy and peter discover an encha...,Jumanji,6.9,2413.0,"[robin_williams, jonathan_hyde, kirsten_dunst,...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[board_game, disappearance, based_on_children'...","[joejohnston, joejohnston, joejohnston]"
2,"[Romance, Comedy]",15602,[a family wedding reignites the ancient feud b...,Grumpier Old Men,6.5,92.0,"[walter_matthau, jack_lemmon, ann-margret, sop...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fishing, best_friend, duringcreditsstinger]","[howarddeutch, howarddeutch, howarddeutch]"
3,"[Comedy, Drama, Romance]",31357,[cheated on mistreated and stepped on the woma...,Waiting to Exhale,6.1,34.0,"[whitney_houston, angela_bassett, loretta_devi...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[based_on_novel, interracial_relationship, sin...","[forestwhitaker, forestwhitaker, forestwhitaker]"
4,[Comedy],11862,[just when george bank ha recovered from his d...,Father of the Bride Part II,5.7,173.0,"[steve_martin, diane_keaton, martin_short, kim...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[baby, midlife_crisis, confidence, aging, daug...","[charlesshyer, charlesshyer, charlesshyer]"
...,...,...,...,...,...,...,...,...,...,...
9065,[Drama],159550,[a man must cope with the loss of his wife and...,The Last Brickmaker in America,7.0,1.0,"[sidney_poitier, wendy_crewson, jay_o._sanders...","[{'credit_id': '544475aac3a36819fb000578', 'de...",[friendship],"[greggchampion, greggchampion, greggchampion]"
9066,"[Thriller, Romance]",392572,[rustom pavri an honourable officer of the ind...,Rustom,7.3,25.0,"[akshay_kumar, ileana_d'cruz, esha_gupta, arja...","[{'credit_id': '5951baf692514129c4016600', 'de...",[bollywood],"[tinusureshdesai, tinusureshdesai, tinusureshd..."
9067,"[Adventure, Drama, History, Romance]",402672,[village lad sarman is drawn to big bad mohenj...,Mohenjo Daro,6.7,26.0,"[hrithik_roshan, pooja_hegde, kabir_bedi, arun...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...",[bollywood],"[ashutoshgowariker, ashutoshgowariker, ashutos..."
9068,"[Action, Adventure, Drama, Horror, Science Fic...",315011,[from the mind behind evangelion come a hit la...,Shin Godzilla,6.6,152.0,"[hiroki_hasegawa, yutaka_takenouchi, satomi_is...","[{'credit_id': '560892fa92514177550018b2', 'de...","[monster, godzilla, giant_monster, destruction...","[hideakianno, hideakianno, hideakianno]"
9069,"[Documentary, Music]",391698,[the band stormed europe in 1963 and in 1964 t...,The Beatles: Eight Days a Week - The Touring Y...,7.6,92.0,"[paul_mccartney, ringo_starr, john_lennon, geo...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...","[music, documentary]","[ronhoward, ronhoward, ronhoward]"

In [22]:
selected_movie_name = 'Grumpier Old Men'
#smd = smd.drop(['index', 'level_0'], axis=1)
smd.index[smd['title']==selected_movie_name].tolist()[0]

2

In [18]:
smd.index

RangeIndex(start=0, stop=8986, step=1)

In [6]:
movie_list

0                           Toy Story
1                             Jumanji
2                    Grumpier Old Men
3                   Waiting to Exhale
4         Father of the Bride Part II
                     ...
21739    The Man with the Rubber Head
21740             The Devilish Tenant
21741                The One-Man Band
21742                             Mom
21743                      Robin Hood
Name: title, Length: 21744, dtype: object

In [7]:
smd

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,vote_average,vote_count,year,cast,crew,keywords,description,cast_size,crew_size,director
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,7.7,5415.0,1995,"[tom_hanks, tim_allen, don_rickles, jim_varney...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousy, toy, boy, friendship, friend, rival...",[lead woody andy toy live happily room andy bi...,5,106,"[johnlasseter, johnlasseter, johnlasseter]"
1,1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,...,6.9,2413.0,1995,"[robin_williams, jonathan_hyde, kirsten_dunst,...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[board_game, disappearance, based_on_children'...",[sibling judy peter discover enchant board gam...,5,16,"[joejohnston, joejohnston, joejohnston]"
2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,...,6.5,92.0,1995,"[walter_matthau, jack_lemmon, ann-margret, sop...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fishing, best_friend, duringcreditsstinger, o...",[family wed reignites ancient feud next door n...,5,4,"[howarddeutch, howarddeutch, howarddeutch]"
3,3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,...,6.1,34.0,1995,"[whitney_houston, angela_bassett, loretta_devi...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[based_on_novel, interracial_relationship, sin...",[cheat mistreat stepped woman hold breath wait...,5,10,"[forestwhitaker, forestwhitaker, forestwhitaker]"
4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,...,5.7,173.0,1995,"[steve_martin, diane_keaton, martin_short, kim...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[baby, midlife_crisis, confidence, aging, daug...",[just george bank recover daughter wed receive...,5,7,"[charlesshyer, charlesshyer, charlesshyer]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21739,46605,False,NaN,0,"[Comedy, Fantasy, Science Fiction]",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,...,7.6,29.0,1901,[georges_méliès],"[{'credit_id': '52fe478dc3a36847f813bd5f', 'de...","[laboratory, mad_scientist, disembodied_head, ...",[chemist laboratory place table head alive fix...,1,3,"[georgesméliès, georgesméliès, georgesméliès]"
21740,46608,False,NaN,0,"[Fantasy, Comedy]",NaN,49271,tt0127948,en,Le locataire diabolique,...,6.7,12.0,1909,"[andré_méliès, georges_méliès]","[{'credit_id': '52fe478dc3a36847f813bd19', 'de...","[tenant, silent_film]",[man rent apartment furnishes remarkable fashion],2,1,"[georgesméliès, georgesméliès, georgesméliès]"
21741,46612,False,NaN,0,"[Fantasy, Action, Thriller]",NaN,49280,tt0135453,fr,L'Homme orchestre,...,6.5,22.0,1900,[georges_méliès],"[{'credit_id': '52fe478dc3a36847f813bd6b', 'de...",[],[band leader arrange chair member band sits do...,1,1,"[georgesméliès, georgesméliès, georgesméliès]"
21742,46615,False,NaN,0,"[Crime, Drama, Thriller]",NaN,404604,tt5690142,hi,Maa,...,6.6,14.0,2017,"[sridevi_kapoor, sajal_ali, akshaye_khanna, na...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...","[physical_abuse, sexual_assault]",[bliss biology teacher family life delhi shatt...,5,17,"[raviudyawar, raviudyawar, raviudyawar]"
21743,46622,False,NaN,0,"[Drama, Action, Romance]",NaN,30840,tt0102797,en,Robin Hood,...,5.7,26.0,1991,"[patrick_bergin, uma_thurman, david_morrissey,...","[{'credit_id': '52fe44439251416c9100a899', 'de...",[],[version classic epic variation interest story...,5,9,"[johnirvin, johnirvin, johnirvin]"

In [2]:
svd

In [24]:
movie_id_recommender = hybrid(101000000000000000000000, "Sabrina")['id']

TypeError: cannot convert the series to <class 'int'>

In [23]:
movie_id_recommender.tolist()

[21588, 11028, 1592, 4771, 27768]

In [20]:
url = "https://api.themoviedb.org/3/movie/27899?language=en-US"

headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMGZlZTcwOGY3NGQ5NTRiYzcxOGRjNWNhYzAwOTdjZiIsInN1YiI6IjY1ZDk5M2FjMTc0OTczMDE0YWQ4NGQ2NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.99DRxRjtQqy9jrWxpcvUltl2Cps3szdc854at8dHEHo"
    }

response = requests.get(url, headers=headers)
response = response.json()

poster_path = "https://image.tmdb.org/t/p/w600_and_h900_bestv2" + response['poster_path']
title = response['title']
release_date = response['release_date']
runtime = response['runtime']
overview = response['overview']
vote = response['vote_average']
vote_count = response['vote_count']
genre = [genre['name'] for genre in response['genres']]
    
title

'Little Caesar'

In [21]:
smd

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,vote_average,vote_count,year,cast,crew,keywords,description,cast_size,crew_size,director
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,led by woody andys toy live happily in his roo...,...,7.7,5415.0,1995,"[tom_hanks, tim_allen, don_rickles, jim_varney...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousy, toy, boy, friendship, friend, rival...",[led by woody andys toy live happily in his ro...,5,106,"[johnlasseter, johnlasseter, johnlasseter]"
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,when sibling judy and peter discover an enchan...,...,6.9,2413.0,1995,"[robin_williams, jonathan_hyde, kirsten_dunst,...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[board_game, disappearance, based_on_children'...",[when sibling judy and peter discover an encha...,5,16,"[joejohnston, joejohnston, joejohnston]"
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,a family wedding reignites the ancient feud be...,...,6.5,92.0,1995,"[walter_matthau, jack_lemmon, ann-margret, sop...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fishing, best_friend, duringcreditsstinger]",[a family wedding reignites the ancient feud b...,5,4,"[howarddeutch, howarddeutch, howarddeutch]"
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,cheated on mistreated and stepped on the woman...,...,6.1,34.0,1995,"[whitney_houston, angela_bassett, loretta_devi...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[based_on_novel, interracial_relationship, sin...",[cheated on mistreated and stepped on the woma...,5,10,"[forestwhitaker, forestwhitaker, forestwhitaker]"
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,just when george bank ha recovered from his da...,...,5.7,173.0,1995,"[steve_martin, diane_keaton, martin_short, kim...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[baby, midlife_crisis, confidence, aging, daug...",[just when george bank ha recovered from his d...,5,7,"[charlesshyer, charlesshyer, charlesshyer]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40932,False,NaN,8000000,[Drama],NaN,159550,tt0255313,en,The Last Brickmaker in America,a man must cope with the loss of his wife and ...,...,7.0,1.0,2001,"[sidney_poitier, wendy_crewson, jay_o._sanders...","[{'credit_id': '544475aac3a36819fb000578', 'de...",[friendship],[a man must cope with the loss of his wife and...,5,2,"[greggchampion, greggchampion, greggchampion]"
41152,False,NaN,1000000,"[Thriller, Romance]",NaN,392572,tt5165344,hi,रुस्तम,rustom pavri an honourable officer of the indi...,...,7.3,25.0,2016,"[akshay_kumar, ileana_d'cruz, esha_gupta, arja...","[{'credit_id': '5951baf692514129c4016600', 'de...",[bollywood],[rustom pavri an honourable officer of the ind...,5,16,"[tinusureshdesai, tinusureshdesai, tinusureshd..."
41209,False,NaN,15050000,"[Adventure, Drama, History, Romance]",NaN,402672,tt3859980,hi,Mohenjo Daro,village lad sarman is drawn to big bad mohenjo...,...,6.7,26.0,2016,"[hrithik_roshan, pooja_hegde, kabir_bedi, arun...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...",[bollywood],[village lad sarman is drawn to big bad mohenj...,5,16,"[ashutoshgowariker, ashutoshgowariker, ashutos..."
41375,False,NaN,15000000,"[Action, Adventure, Drama, Horror, Science Fic...",NaN,315011,tt4262980,ja,シン・ゴジラ,from the mind behind evangelion come a hit lar...,...,6.6,152.0,2016,"[hiroki_hasegawa, yutaka_takenouchi, satomi_is...","[{'credit_id': '560892fa92514177550018b2', 'de...","[monster, godzilla, giant_monster, destruction...",[from the mind behind evangelion come a hit la...,5,27,"[hideakianno, hideakianno, hideakianno]"
41657,False,NaN,0,"[Documentary, Music]",http://www.thebeatlesliveproject.com/,391698,tt2531318,en,The Beatles: Eight Days a Week - The Touring Y...,the band stormed europe in 1963 and in 1964 th...,...,7.6,92.0,2016,"[paul_mccartney, ringo_starr, john_lennon, geo...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...","[music, documentary]",[the band stormed europe in 1963 and in 1964 t...,5,7,"[ronhoward, ronhoward, ronhoward]"

In [77]:
import requests

url = "https://api.themoviedb.org/3/movie/496243/reviews?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMGZlZTcwOGY3NGQ5NTRiYzcxOGRjNWNhYzAwOTdjZiIsInN1YiI6IjY1ZDk5M2FjMTc0OTczMDE0YWQ4NGQ2NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.99DRxRjtQqy9jrWxpcvUltl2Cps3szdc854at8dHEHo"
}

response = requests.get(url, headers=headers)
response = response.json()

reviews = []
for review in response['results']:
    content = ''.join(s for s in review['content'] if ord(s)>31 and ord(s)<126)
    reviews.append([review['author'], content, eval(str(review['author_details']['rating']))])

reviews = pd.DataFrame(data = reviews, columns=['Author', 'Review', 'Rating'])
reviews

,Author,Review,Rating
0,SWITCH.,What makes Parasite so satisfying is that it c...,10.0
1,Sheldon Nylander,The working class and down on their luck Kim f...,10.0
2,Saru,This is VERY HIGHLY OVERRATED. The most part o...,4.0
3,tmdb39513728,errbnbNews that Adam McCay is collaborating wi...,10.0
4,Matthew Brady,"""You know what kind of plan that never fails? ...",9.0
5,Manuel São Bento,"If you enjoy reading my Spoiler-Free reviews, ...",10.0
6,JPV852,"Decent enough dark comedy/thriller, with nice ...",7.0
7,Stephen Campbell,**_An uncategorisable masterpiece_**>_We fat a...,9.0
8,rojitasaha,"First of all it's a masterpiece, it's shows ho...",NaN
9,Gimly,"""We all live in the same country... called cap...",8.0
10,tmdb92312096,What starts as a seemingly simple premise quic...,10.0
11,RustyBoi,One of the funniest and most disturbing films ...,10.0
12,r96sk,"Despite hearing about this from day dot, I tha...",9.0
13,Repo Jack,<i>Parasite</i> is fantastic. It's clever. It'...,10.0
14,fourfridays,Loved it! It's a different kind of movie from ...,8.0

In [17]:
import requests

url = "https://api.themoviedb.org/3/person/1190668?language=en-US"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMGZlZTcwOGY3NGQ5NTRiYzcxOGRjNWNhYzAwOTdjZiIsInN1YiI6IjY1ZDk5M2FjMTc0OTczMDE0YWQ4NGQ2NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.99DRxRjtQqy9jrWxpcvUltl2Cps3szdc854at8dHEHo"
}

response = requests.get(url, headers=headers)
response = response.json()

print(response)

{'adult': False, 'also_known_as': ['Timothee Chalamet', 'Timothy Chalamet', 'Timothée Hal Chalamet', 'Timothee Hal Chalamet', '티모시 샬라메', 'ტიმოთი შალამე', '蒂莫西·柴勒梅德', 'Τιμοτέ Σαλαμέ', 'טימותי שאלאמה', '蒂莫西·查拉梅', '提摩西·夏勒梅', ' ტიმოთი შალამე', 'ティモシー・シャラメ', 'ティム', 'ティミー', 'Тимоти Шаламе '], 'biography': "Timothée Hal Chalamet (born December 27, 1995) is an American actor.\n\nHe began his career appearing in the drama series Homeland in 2012. Two years later, he made his film debut in the comedy-drama Men, Women & Children and appeared in Christopher Nolan's science fiction film Interstellar. He came into attention in Luca Guadagnino's coming-of-age film Call Me by Your Name (2017). Alongside supporting roles in Greta Gerwig's films Lady Bird (2017) and Little Women (2019), he took on starring roles in Beautiful Boy (2018) and Dune (2021).", 'birthday': '1995-12-27', 'deathday': None, 'gender': 2, 'homepage': None, 'id': 1190668, 'imdb_id': 'nm3154303', 'known_for_department': 'Acting', 'name': 'Timothée Chalamet', 'place_of_birth': 'Manhattan, New York City, New York, USA', 'popularity': 156.342, 'profile_path': '/BE2sdjpgsa2rNTFa66f7upkaOP.jpg'}

In [29]:
response = response.json()
a = response["movie_results"][0]
a["title"]

'Dune: Part Two'

In [1]:
import pandas as pd
import numpy as np
import joblib as jlb

from sentiment_analysis.utils.preprocessing import readData, processtext, Name_Entity_Recognize
from TFIDF import reviewTfidfVectorizer

from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RidgeClassifier
from sklearn.svm import SVC
from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix, accuracy_score, classification_report

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
sentences = readData("sentiment_analysis/corpus.txt")
len(sentences)

528287

In [2]:
vectorizer = reviewTfidfVectorizer()
#vectorizer.fit(sentences)

In [5]:
doc = "One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked."

In [9]:
from sentiment_analysis.Word2Vec import movieFeedbackWord2Vec
w2v_skipgram = movieFeedbackWord2Vec()
w2v_skipgram.load("model/skipgram_model.bin")

In [11]:
len(w2v_skipgram.get_vocab())

12938

In [28]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

lemmatizer=WordNetLemmatizer()

In [30]:
def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [36]:
text = 'right exactly happened first struck brutality unflinching scene violence set right word'
text = text.split(' ')
pos_tokens = nltk.pos_tag(text)
text = [[lemmatizer.lemmatize(w, get_wordnet_pos(pos[1])) for w in text] for pos in pos_tokens]

In [40]:
lemmatizer.lemmatize('happened', wordnet.VERB)

'happen'

In [41]:
for i in text:
    print(i)

['right', 'exactly', 'happened', 'first', 'struck', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happened', 'first', 'struck', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happen', 'first', 'strike', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happened', 'first', 'struck', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happened', 'first', 'struck', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happened', 'first', 'struck', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happen', 'first', 'strike', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happened', 'first', 'struck', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happened', 'first', 'struck', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happen', 'first', 'strike', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happened', 'first', 'struck', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']
['right', 'exactly', 'happened', 'first', 'struck', 'brutality', 'unflinching', 'scene', 'violence', 'set', 'right', 'word']